<div style="vertical-align:middle">
    <row>
            <div class="form-group">
            <div class="input-group">
                @using (Html.BeginForm("SearchMusic", "Musics"))
                {
                    @Html.TextBox("recherche")
                    <input type="submit" value="Rechercher" />
                }
            </div>
        </div>
    </row>
</div>