<div style="vertical-align:middle">
    <row>
            <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Allez</button>
                </span>
            </div>
        </div>
    </row>
</div>