@using Zebra.Models

@model List<MusicModels>

@{
    ViewBag.Title = "MyMusics";
}

<h2>Mes Musiques</h2>

@Html.ActionLink("Ajouter", "Create", "Musics", new { @class = "btn btn-info" })



<body>
    <ul>
        
    </ul>
</body>
