@using SpotifyAPI.Web.Models
@using Zebra.Models

@model Paging<SpotifyAPI.Web.Models.FullTrack>

@{
    ViewBag.Title = "SearchMusic";
}

<h2>Search</h2>


<table class="table">
    
    @foreach (var item in Model.Items)
    {
        <thead>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Popularity)
                </td>
            </tr>
        </thead>
    }
</table>
